#main-section {
    background: url('../../src/imgs/main-bg.jpg') no-repeat center top;
    background-size: cover;
}
#main-section .content-wrap {
    padding: 24rem 2.4rem 0;
}
#main-section .ranking-wrap img {
    width: 13rem;
    margin-bottom: 1.6rem;
}
#main-section .text-wrap {
    font-weight: 500;
}
#main-section .title-main {
    margin: 4rem 0;
}
/* #main-section .arrow-down-icon {
    width: 4rem;
    margin: 5.6rem 0 -0.8rem;
} */
#main-section .main-img-wrap {
    position: relative;
    width: 64rem;
    margin: 4rem auto 0;
}
#main-section .mobile-img {
    position: relative;
    width: 100%;
}
#main-section .speech-bubble-img-wrap {
    position: absolute;
    width: 27.6rem;
    height: 7.2rem;
}
#main-section .speech-bubble-img-wrap.left {
    top: 18rem;
    left: -8rem;
}
#main-section .speech-bubble-img-wrap.right {
    top: 24rem;
    right: -8rem;
}
#main-section .speech-bubble-img-wrap img {
    width: 100%;
}
#main-section .speech-bubble-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-56%, -50%);
    text-wrap: nowrap;
}
#main-section .speech-bubble-text.left {
    transform: translate(-56%, -50%);
}
#main-section .speech-bubble-text.right {
    transform: translate(-44%, -50%);
}

#about-section .card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    padding: 6.4rem 0;
}
#about-section .card-wrap {
    display: flex;
    align-items: center;
    gap: 2.4rem;
}
#about-section .img-wrap {
    width: 54rem;
    height: 38rem;
    border: 2px solid var(--color-gray-900);
    border-radius: 2.4rem;
    overflow: hidden;
}
#about-section .img-wrap img {
    width: 100%;
}
#about-section .text-wrap {
    width: 54rem;
}
#about-section .title-card {
    margin-bottom: 1.4rem;
}

#price-banner-section {
    background: var(--gradient-dark);
}
#price-banner-section .content-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4.8rem 2.4rem;
    color: #fff;
    text-align: left;
}
#price-banner-section .title-banner {
    margin-bottom: 2.4rem;
}
#price-banner-section .banner-img-wrap {
    width: 48rem;
}
#price-banner-section .title-banner {
    margin-bottom: 2.4rem;
}
#price-banner-section .btn {
    margin-top: 6rem;
}

#reason-section {
    background: var(--color-gray-100);
}
#reason-section .card-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    padding: 6.4rem 0;
    text-align: left;
}
#reason-section .card {
    display: flex;
    justify-content: space-between;
    padding: 4.8rem;
    border-radius: 4.8rem;
    background: #fff;
    box-shadow: var(--box-shadow-base);
    width: 100%;
}
#reason-section .card-number {
    font-weight: 700;
    letter-spacing: 0;
}
#reason-section .title {
    margin: 0.8rem 0 1.6rem;
}
#reason-section .gradient-text-primary {
    font-weight: 900;
}
#reason-section .card-list img {
    width: 52rem;
}

#graph-section {
    background: url('../../src/imgs/graph-section-background.png') no-repeat center;
    background-size: cover;
}
#graph-section .graph-wrap {
    position: relative;
    height: 48rem;
    margin: 18rem auto 0;
}
#graph-section .grid-line-wrap {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
#graph-section .grid-line {
    position: relative;
    height: 0.1rem;
    margin-left: 7.6rem;;
    background-color: var(--color-gray-300);
}
#graph-section .grid-line:last-of-type {
    height: 0.2rem;
    background-color: var(--color-gray-500);
    z-index: 1;
}
#graph-section .grid-number {
    position: absolute;
    left: calc(-7.6rem - 0.8rem);
    top: -1.4rem;
    display: inline-block;
    text-align: right;
    width: 7.6rem;
    padding-right: 1.2rem;
}
#graph-section .grid-number:not(.text-sm) {
    color: var(--color-gray-500);
}
#graph-section .bar-list {
    display: flex;
    margin-left: 7.6rem;
    height: 100%;
}
#graph-section .bar-wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 3.2rem;
    border-right: 1px solid var(--color-gray-300);
}
#graph-section .bar-wrap:last-of-type {
    border-right: none;
}
#graph-section .bar-inner {
    width: 4rem;
    border-radius: 4rem 4rem 0 0;
    border: 0.2rem solid #fff;
    background: var(--color-gray-200);
}
#graph-section .bar-inner.highlight {
    position: absolute;
    border: 0.2rem solid var(--color-primary);
    background: var(--gradient-secondary);
}
#graph-section .company-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
#graph-section .tooltip {
    position: absolute;
    top: -11.6rem;
    left: 50%;
    transform: translateX(-50%);
    width: 18rem;
}
#graph-section .tooltip span {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    z-index: 10;
    text-wrap: nowrap;
}
#graph-section .bar-wrap p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -3.6rem;
    text-wrap: nowrap;
}
#graph-section .bar-wrap p span {
    font-weight: 700;
}
#graph-section .graph-stamp {
    position: absolute;
    top: -5.6rem;
    right: -4.8rem;
    width: 20rem;
}

#performance-section {
    background: var(--gradient-dark);
}
#performance-section .performance-list {
    display: flex;
    justify-content: space-between;
    gap: 1.2rem;
    align-items: center;
    padding: 0 4.8rem;
    color: #fff;
}
#performance-section .performance-list li {
    width: 20rem;
}
#performance-section .figure {
    margin-bottom: 0.4rem;
    font-size: 9.6rem;
    font-weight: 800;
}
#performance-section .unit {
    margin-left: 0.4rem;
    font-size: 5.2rem;
    font-weight: 700;
}

#tutor-difference-section {
    background: var(--color-gray-100);
}
#tutor-difference-section .table-wrap {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
}
#tutor-difference-section .table {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;
    margin-top: 6.4rem;
}
#tutor-difference-section .table li {
    padding: 2.4rem;
    border-radius: 2.4rem;
    box-shadow: var(--box-shadow-base);
}
#tutor-difference-section .general-tutor-table li {
    background: var(--color-gray-200);
    border: 2px solid var(--color-gray-700);
}
#tutor-difference-section .tesol-tutor-table li {
    background: #fff;
    border: 2px solid var(--color-primary);
}
#tutor-difference-section .general-tutor-table .title-row {
    background: var(--gradient-gray);
}
#tutor-difference-section .tesol-tutor-table .title-row {
    background: var(--gradient-primary);
}
#tutor-difference-section .title-row {
    color: #fff;
    font-weight: 700;
}
#tutor-difference-section .table img {
    width: 3.6rem;
}
#tutor-difference-section .description {
    color: var(--color-gray-700);
}

#tutor-intro-section {
    background: var(--color-gray-200);
}
#tutor-intro-section .tutor-list {
    display: flex;
    justify-content: center;
}
#tutor-intro-section .tutor-list li {
    padding: 3.2rem;
    border-radius: 3.2rem;
    background: #fff;
    margin: 6.4rem 0;
    box-shadow: var(--box-shadow-base);
}
#tutor-intro-section .name-wrap {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2.4rem;
}
#tutor-intro-section .name-wrap span {
    font-weight: 600;
}
#tutor-intro-section .country-img {
    width: 4rem;
}
#tutor-intro-section .tutor-img {
    width: 32rem;
}
#tutor-intro-section .description {
    margin-bottom: 6.4rem;
}