/* variable */
:root {
    /* color */
    --color-primary: #1d9bf0;
    --color-secondary: #5ce1e6;
    --color-accent-yellow: #fcd600;
    --color-accent-red: #f94646;
    --color-gray-900: #1e2124;
    --color-gray-700: #495057;
    --color-gray-500: #6c757d;
    --color-gray-400: #a6acb2;
    --color-gray-300: #ced4da;
    --color-gray-200: #e1e4e8;
    --color-gray-100: #f5f6fa;

    /* gradient */
    --gradient-blue: linear-gradient(to right, #36c0e0, #1d9bf0);
    --gradient-skyblue: linear-gradient(to right, #57dbe7, #1d9bf0);
    --gradient-yellow: linear-gradient(to top, #fcd600, #febe00, #ffa500);
    --gradient-dark: linear-gradient(to left, #5d8a9f, #172b4c, #020308);
}

/* title */
.title {
    line-height: 1.2;
}
.title-main {
    font-size: 7.6rem;
    font-weight: 900;
}
.title-section {
    font-size: 6.4rem;
    font-weight: 700;
}
.title-banner {
    font-size: 5.6rem;
    font-weight: 600;
}
.title-card {
    font-size: 3.2rem;
    font-weight: 700;
}
.title-sub {
    font-size: 3.2rem;
    font-weight: 700;
}

/* text */
.text-xl {
    font-size: 3.2rem;
}
.text-lg {
    font-size: 2.8rem;
}
.text-md {
    font-size: 2.4rem;
}
.text-sm {
    font-size: 1.6rem;
}
.text-xs {
    font-size: 1.4rem;
}

/* button */
.btn-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}
.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    border-radius: 99rem;
    font-weight: 500;
    cursor: pointer;
}
.btn-lg {
    width: 32rem;
    height: 7rem;
    font-size: 2.2rem;
}
.btn-base {
    width: 25.2rem;
    height: 6rem;
    font-size: 2rem;
}
.btn-solid-blue {
    border: 2px solid var(--color-primary);
    background: var(--gradient-blue);
    color: #fff;
}
.btn-outline-blue {
    border: 2px solid var(--color-primary);
    background: none;
    color: var(--color-primary);
}
.btn-outline-white {
    border: 2px solid #fff;
    background: none;
    color: #fff;
}
.btn > img {
    width: 2.6rem;
}

/* layout */
.section {
    width: 100vw;
    text-align: center;
}
.section .content-wrap {
    max-width: 144rem;
    margin: 0 auto;
    padding: 12rem 2.4rem;
}