<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../common/reset.css">
    <link rel="stylesheet" href="../../common/common.css">
    <link rel="stylesheet" href="./header.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css">

    <title>매드포스터디</title>
</head>
<body>
    <!-- header 시작 -->
    <header id="header" class="header">
        <ul class="more-sites-list">
            <li>
                <span>매드포스터디</span>
                <span>전화 &#183; 화상영어</span>
            </li>

            <li>
                <span>WASSUP</span>
                <span>유용한 영어표현</span>
            </li>

            <li>
                <span>매드포북스</span>
                <span>영어회화 교재</span>
            </li>
        </ul>
        <div class="header-inner">
            <img class="header-logo" src="../../src/logos/logo-mad4study.svg" alt="매드포스터디 로고">
    
            <nav id="gnb" class="gnb">
                <ul>
                    <li>
                        <a href="#">매드 for U</a>
                    </li>
                    <li>
                        <a href="#">레벨테스트</a>
                    </li>
                    <li>
                        <a href="#">교육과정</a>
                    </li>
                    <li>
                        <a href="#">강사소개</a>
                    </li>
                    <li>
                        <a href="#">기업교육</a>
                    </li>
                </ul>
            </nav>
    
            <div class="menu-btn-wrap">
                <button class="btn login-btn">로그인</button>
                <button class="btn apply-btn">수강신청</button>
            </div>
        </div>
    </header>
    <!-- header 끝 -->
</body>
</html>